*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-image: url(c.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
 .menu-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-flow: row wrap; */
    height: 80%;
    width: 100%;
    padding: 20px;
   
   
 }
  /*
 nav{
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 nav img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
 }
 nav ul li{
    display: inline-flex;
    list-style-type: none;
    
 }
 nav ul li a{
    text-align: center;
    text-decoration: none;
    color:gold;
    font-size: 3vh;
    margin-left: 20px;
    border: 2px solid gold;
    padding: 6px 15px;
    border-radius: 15px;

 } */
 .header h1{
    color: gold;
    font-weight: 600;
    letter-spacing: 10px;
    font-size: 25px;
    margin-top: 10px;
   
    
 }
 .logo{
   width: 100px;
   height: 100px;
   border: 6px solid gold;
   position: relative;
   background-color:transparent;
   border-radius: 50%;
   text-align: center;
   margin-left: 50%;
   margin-top: 30px;
   border-right: none;
   border-left: none;
   border-top-color: pink;
   /* padding-bottom: 5px; */
   display: flex;
   justify-content: center;
   align-items: center;

}
p{
   color: red;
   text-align: center;
  
   font-size: 1.8em;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 800;
}
p i {
   text-decoration: none;
   color: rgb(247, 3, 186);
   font-style:normal;
   
} 
 
 .header{
    text-align: center;
    /* margin: 0 auto; */
    margin:5px ;
    background-image: linear-gradient(to bottom, rgba(49, 32, 32,0.6) 50%,rgb(63, 30, 30,0.3));
    height: 400px;
    width: 55%;
    border-radius: 5%;

 }
 .header a{
    text-decoration: none;
    margin-bottom: 0px;
    color: gold;
    border: 2px solid gold;
    border-radius: 50px;
   font-size: 24px;
   padding: 10px 30px;
   display: inline-block;
   /* margin-top:20px ; */
 }
 /* .back-video{
   position: absolute;
   bottom: 0;
   top: 0;
   z-index: -1;
   height: 100vh;
   width: 100%;
   object-fit: cover;
   opacity: 0.9;
 } */
 label{
   color: white;
   font-size: 3vh;
 }
 input{
   border-width: 0px;
   border:2px solid gold;
   width: 40%;
   text-align: center;
   font-size: 18px;
   color: white;
   background-color: transparent;
   margin-left: 8px;
   height: 30px;
   border-radius: 15px;
   opacity: 0.7;
 }
 /* .footer{
   left: 0;
   bottom: 0;
   position: relative;
   z-index: 3;
   background-color: black;
   height: 160px;
   width: 100%;
 } */
 button{
   color: white ;
   background-color: transparent;
   padding: 15px;
   width: 120px;
   border: 3px solid gold;
   border-radius: 20px;

 }